{% extends "template.html" %}



{% block conteudo %}

<body style="text-align: center;font-size: 25px;font-family: Segoe UI;">
    <div>
        <img class="imgpython" src="{{url_for('static', filename='giphy.gif')}}">
        <h1 style="text-align: center; font-size: 25px; font-family: Segoe UI;">Sistema de chamados Flask</h1>

        <form method="POST" action="/login">
            <div>
                <input class="inputlogin" type="text" name="nome_usuario" placeholder="Nome de Usuário">
            </div>
            <div>
                <input style="margin: 10px" class="inputlogin" type="password" name="senha" placeholder="Senha">
            </div>

            <button type="submit" class="botaologin">Entrar</button>
            <div style="margin: 10px">
                <button type="submit" class="botaologin">Esqueci minha senha</button>
            </div>
            <div style="margin: 10px">
                <button type="submit" class="botaologin">Solicitar conta</button>
            </div>
            <div>
                <button type="submit" class="botaologin">Sair</button>
            </div>
        </form>
    </div>
</body>
{% endblock %}
